   :root {
   --blue-300: rgb(147 197 253);
   --blue-400: rgb(96 165 250);
   --blue-500: rgb(59 130 246);
   --blue-600: rgb(37 99 235);
   --purple-600: rgb(147 51 234);
   --purple-700: rgb(107 33 168);
   --purple-800: rgb(88 28 135);
   --gray-300: rgb(209 213 219);
   --gray-950: rgb(3 7 18);
   --yellow-300: #fde047;
   --star-yellow: #facc15;
   --red-600: rgb(220 38 38);
   --anchor-color: var(--blue-300);
   --background: var(--gray-950);
   font-family: 'Open Sans', sans-serif;
}

.repo-item.hover .star-bar {
   width: 8px !important;
   border-radius: 4px 4px 0px 0px !important;
   background-color: var(--yellow-300);
}


.repo-item.hover {
   z-index: 100;
}

.repo-item.hover img {
   width: 30px !important;
   height: 30px !important;
   margin-bottom: -5px !important;
   margin-top: -5px !important;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
   z-index: 200;
}

.repo-item.anchor .star-bar {
   background-color: var(--blue-300);
}

.repo-item.comparison .star-bar {
   background-color: var(--purple-600)
}

.header-border {
   height: 1.5px;
   background: linear-gradient(to right, var(--purple-600), var(--blue-300) 80%);
}

@media screen and (min-width: 768px) {
   .header-border {
      height: 2px;
      background: linear-gradient(to right, var(--purple-600), var(--blue-300) 80%);
   }
}
