.repo-item.hover {
   z-index: 100;
}

.repo-item.hover img {
   width: 30px !important;
   height: 30px !important;
}

.repo-item.hover .star-bar {
   cursor: pointer;
   width: 8px !important;
   border-radius: 4px 4px;
}