:root {
   --yellow-300: #fde047;
   --star-yellow: #facc15;
   --red-600: rgb(220 38 38);
   --sorting-green: rgb(34 197 94);
   font-family: 'Open Sans', sans-serif;
}

.repo-item.hover .star-bar {
   width: 8px !important;
   border-radius: 4px 4px 0px 0px !important;
   background-color: var(--yellow-300);
}


.repo-item.hover {
   z-index: 100;
}

.repo-item.hover img {
   width: 30px !important;
   height: 30px !important;
   margin-bottom: -5px !important;
   margin-top: -5px !important;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
   z-index: 200;
}

.repo-item.green .star-bar {
   background-color: var(--sorting-green);
}

.repo-item.comparison .star-bar {
   background-color: var(--red-600)
}

